<ion-header>
  <ion-navbar color="">    
    <ion-title>Formulario Cobros</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon ios="ios-close-circle-outline" md="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div style="height: 300px; width: 100%;" id="map"></div>

  <form (ngSubmit)="saveChanges()" padding>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  ID</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="data.id" required>
      </ion-input>
    </ion-item>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Monto</ion-label>
      <ion-input type="text" name="monto" [(ngModel)]="data.monto" required>
      </ion-input>
    </ion-item>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Dirección</ion-label>
      <ion-input type="text" name="direccion" [(ngModel)]="data.direccion" required>
      </ion-input>
    </ion-item>
    <!--TITULO-->
    <ion-item no-lines>
      <ion-label floating><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>  Acontecimiento</ion-label>
      <ion-input type="text" name="acontecimiento" [(ngModel)]="data.acontecimiento" required>
      </ion-input>
    </ion-item>
    <!--FECHA-->
    <ion-item>
      <ion-label floating><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>  Fecha de Pago</ion-label>
      <ion-datetime displayFormat="YYYY MMM DD" pickerFormat="DD MMM YYYY" [(ngModel)]="data.fechaPago" name="fechaPago"></ion-datetime>
    </ion-item>

    <button ion-button block type="submit" icon-start>
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Guardar Cambios
    </button>
  </form>
</ion-content>
