<ion-content style="background: url('https://www.atulhost.com/wp-content/uploads/2016/12/material-design-wallpaper-10.png') center; background-size: cover;" padding>
  <form style="display: block; max-width: 500px; height: auto; margin-left: auto; margin-right: auto;" (ngSubmit)="logIn()">
    <div>
      <img src="https://icon2.kisspng.com/20180425/acw/kisspng-computer-icons-avatar-user-login-5ae149b1d11742.9838994015247139058565.jpg"
      style="display: block; width: 200px; height: auto; margin-left: auto; margin-right: auto;  padding-bottom: 6%;">
    </div>
    <ion-list no-lines>
      <ion-item class="item item-trns">
        <ion-label style="color: white;" floating><ion-icon ios="ios-person" md="md-person"></ion-icon>  Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user.username" name="username"></ion-input>
      </ion-item>
      <ion-item class="item item-trns">
        <ion-label style="color: white;"  floating><ion-icon ios="ios-lock" md="md-lock"></ion-icon>  Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
      </ion-item>
      <div class="item item-trns" padding>
        <button ion-button block type="submit" [disabled]="btnDisabled">Iniciar Sesión</button>
      </div>
    </ion-list>
    <a class="btn-white" ion-button block clear (click)="resetPassword()" >¿Olvidaste tu contraseña?</a>
    <a class="btn-white" ion-button block clear (click)="createAccount()" >Crear una nueva cuenta</a>
  </form>
</ion-content>