<ion-menu cache-view="false" [content]="content">
  <ion-content>
    <div class="div-menu">
      <img class="img-div" src="https://verdict4u.files.wordpress.com/2016/09/22-10.jpg?w=1400">
      <div class="profile">
      <img class="img-profile" src="https://icon2.kisspng.com/20180425/acw/kisspng-computer-icons-avatar-user-login-5ae149b1d11742.9838994015247139058565.jpg">
      <h6 class="text2">Cobrador</h6>
      <p class="text">cobrador@foxylabs.com</p>
      </div>
    </div>
    <ion-list>
      <button no-lines menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon ios="{{p.ios}}" name="{{p.icon}}" item-start></ion-icon>
        {{p.title}}
      </button>
      <button no-lines menuClose ion-item (click)="logOut()">
        <ion-icon name="md-log-out" ios="ios-log-out" item-start></ion-icon>
        Cerrar Sesión
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
